/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  list-style: none;
  margin: 0;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

a {
  color: #000;
}

body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

main {
  padding: 0 50px;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

.txt-14px-bold {
  font-size: 14px;
  font-weight: bold;
}

.txt-17px-bold {
  font-size: 17px;
  font-weight: bold;
}

.txt-18px-bold {
  font-size: 18px;
  font-weight: bold;
}

/* img adjustment see Notre-Dame-De-La-Garde */
.img_adjust-top {
  object-position: top;
}

/****** Header Logo & Nav ***********/
.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 79px;
  margin-bottom: 30px;
}

.header-logo {
  display: flex;
}

.logo {
  width: 61.09px;
  height: 19px;
  padding: 30px 50px 30px 50px;
}

.nav-container {
  display: flex;
  width: 329px;
  height: 35px;
  justify-content: space-around;
  color: #000;
}

.nav-item {
  display: flex;
  align-items: flex-end;
}

.nav-item a {
  padding-top: 14px;
  color: #000;
  border-top: 2px solid transparent;
}

.nav-item a:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/* ====== Info Group ========== */
.info-group {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 35px;
}

/* ==== Search form =========== */

.search-form {
  display: flex;
  align-self: flex-start;
  /* height: 49px; */
}

.search-form-icon {
  height: 49px;
  width: 50px;
  background-color: var(--main-bg-color);
  border-radius: 15px 0 0 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.location-icon {
  color: #000;
}

.search-form-input {
  height: 49px;
  width: 195px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border: none;
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
}

input::placeholder {
  font-weight: bold;
  color: #000;
}

.search-form-button {
  font-size: 18px;
  font-weight: bold;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 0 15px 15px 0;
  padding: 15px 15px;
  height: 49px;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
}

.magnify-icon {
  color: #fff;
}

.search-form-button-icon {
  font-size: 18px;
  font-weight: bold;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 15px;
  padding: 15px 15px;
  height: 49px;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}

/* ============== Filters =================== */

.filter-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  gap: 15px;
}

.filter-title {
  display: flex;
  justify-content: flex-start;
}

.filter-boxes {
  display: flex;
  gap: 15px;
}

.filter-bar-item {
  display: flex;
  align-items: center;
  padding: 0 19px;
  gap: 10px;
}
.filter-box {
  height: 50px;
  border: 2px solid #d9d9d9;
  border-radius: 25px 25px 25px 25px;
  font-size: 17px;
  font-weight: bold;
  flex-shrink: 0;
}

.filter-box:hover {
  background-color: #deebff;
  color: #000;
  cursor: pointer;
}

/* ============== Info Bar ================== */
.info-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 24px;
}

.info-icon {
  width: 24px;
  height: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  /* margin-right: 10px; */

  display: flex;
  justify-content: center;
  align-items: center;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hebergements-cards {
  display: flex;
  width: 100%;
  gap: 30px;
}

.hebergements-cards a {
  display: flex;
  color: #000;
  width: 100%;
}

.hebergements .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  gap: 4px;
  height: auto;
  padding-bottom: 15px;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.hebergements-cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
}

.hebergements-cards .card-txt {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hebergements-cards .card-title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.hebergements-cards .card-subtitle {
  margin: 0;
  font-size: 14px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
  /* display: flex;
  flex-direction: column;
  gap: 15px; */
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  flex: 1;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
/* ---------ACTIVITY --------- */
/* titre + container activites */
.activities {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 30px;
}

/* Activities cards container */
.activity-cards {
  display: flex;
  width: 100%;
  margin-top: 33px;
  gap: 30px;
}

/* Individual activity cards  */
.activity-cards .card {
  flex: 1;
  padding: 0;
}

.activity-cards .card-content {
  display: flex;
  flex-direction: column;
}

.activity-cards img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.activity-cards .text-content {
  padding: 20px 19px;
}

.activity-cards p {
  font-size: 16px;
  font-weight: bold;
}

/* -------- FOOTER ----------- */
footer .container {
  display: flex;
  background-color: #f2f2f2;
  margin: 35px 50px 0 50px;
}

.footer-title {
  font-size: 18px;
  margin: 0;
}

.footer-article {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 20px;
  gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .filter-bar {
    width: 100%;
    height: 100%;
    flex-direction: column;
    /*  justify-content: flex-start; */
    /* justify-content: flex-start; */
  }
  /* 
  .filter-boxes {
    display: flex;
    justify-content: flex-start;
}
   */

  .filter-title {
    width: 100%;
    justify-content: flex-start;
  }

  .filter-boxes {
    width: 100%;
    /* display: flex; */
    /* justify-content: flex-start; */
  }

  .filter-bar-item p {
    font-size: 17px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;

    /* order: 2; */
  }

  .populaires {
    width: 100%;
    margin-top: 50px;

    /* order: 1; */
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    /*  flex: 1; */

    gap: 30px;

    justify-content: space-between;
    /* flex: 1; */
    width: auto; /* 30%     .card */
  }

  .populaires-cards a {
    flex: 1;
    justify-content: space-between;
    width: 100%; /* 30%     .card */
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  main {
    padding: 0 0;
  }
  /* MOBILE HEADER  */
  .header-container {
    width: 100%;
    height: 115px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
  }

  .header-logo {
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-container {
    width: 100%;
    display: flex;
    flex: 1;
    padding: 0;
    justify-content: center;
  }

  .nav-item {
    padding: 0;
    flex: 1;
    justify-content: center;
    /*  align-items: flex-start; */
    border-top: 2px solid transparent;
    border-bottom: 2px solid #f2f2f2;
  }

  .nav-item a {
    width: 100%; /* solve issue color not change if hover not on word */
    text-align: center;
    border-top: 2px solid transparent;
    padding: 0 0 14px 0;
  }

  .nav-item a:hover {
    border-top: 2px solid transparent;
  }

  .nav-item:hover {
    color: var(--main-color);
    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--main-color);
  }

  /* ++++++++++ */
  .info-group {
    margin: 0 20px;
  }

  .search-form {
    justify-content: center;
  }

  .search-form-button {
    display: none;
  }
  .search-form-button-icon {
    display: block;
    /* box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.2); */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  /* Mobile FILTERS */
  .filter-bar {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }

  .filter-title {
    width: 100%;
    justify-content: flex-start;
  }

  .filter-bar-item p {
    font-size: 14px;
  }

  /* Grid Option */
  /* 
  .filter-boxes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  } */

  /* flex version */

  /* removed  */
  /* .filter-boxes {
    box-sizing: border-box;
    /*  width: 100%; */
  /* display: flex;
    gap: 15px;
    flex-wrap: wrap;
    flex-shrink: 1;
  } */
  /* 
  .filter-bar-item {
    width: calc((100% - 55px) / 2);
  }
 */
  /* removed  */
  /* .filter-box {
    width: calc((100% - 15px) / 2);
    flex: 1;
  } */

  /* 
  .filter-bar-item
  .filter-box {
    width: calc((100% - 15px) / 2);
  }
 */

  /* old version */

  .filter-boxes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
  }

  .filter-boxes > * {
    flex: 1 0 35%;
  }

  /* flex-basis: auto; */
  /* width: 35%; */
  /* align-content: space-evenly; */
  /*  flex-grow: 0; */

  /* Mobile HEBERGEMENTS */

  .hebergements-and-populaires {
    flex-direction: column;
  }

  /* Affichage des populaire en premier */
  .hebergements {
    order: 2;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  .populaires {
    order: 1;

    /* margin-top: 0px;
    gap: 15px; */
  }

  .hebergements-and-populaires .hebergements {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
  }

  .hebergements-cards {
    flex-direction: column;
    /* width:100% */
  }

  .populaires-title {
    padding-bottom: 30px;
  }
  .populaires-cards {
    flex-direction: column;
  }

  .populaires-cards .card {
    width: 100%;
    margin-top: 0;
  }

  /* === */
  .activities {
    margin-top: 0;
  }

  .activity-cards {
    flex-direction: column;
  }

  .activity-cards img {
    width: 100%;
    height: 141px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;

    /* border: solid 2px yellow; */
  }

  footer .container {
    flex-direction: column;
    /* margin: 35px 0; */
    margin: 0;
    padding: 30px;
    gap: 50px;
  }
  .footer-article {
    padding: 0;
  }

  /* ... */
}
